blockquote p mark {
  background: #ddd;
  padding: 5px;
  border-radius: 4px;
  margin: 0 5px;
}
.sidebar .sidebar-nav {
  top: 162px !important;
  height: calc(90% - 110px) !important;
}
.sidebar .search {
  top: 102px !important;
}
.sidebar h1.app-name {
  top: 0 !important;
}
.sidebar .logo {
  height: 103px;
}
.sidebar .logo img {
  margin-right: 0 !important;
  height:auto!important;
  padding-left: calc(var(--unit)* 5);
  padding-right: calc(var(--unit)* 5);
}
.page_toc {
  top: 0;
  position: static !important;
  margin-top: 20px !important;
}
.page_toc.scrolled {
  position: fixed !important;
}
.markdown-section {
  padding: 20px !important;
}
.helpful-content {
  z-index: 9999;
  background: #0086FF;
  color: #fff;
  padding: 10px 40px;
  transition: transform .25s ease-out;
  margin-left: 300px;
}
.helpful-content h2 {
  padding: 10px 0;
  margin: 0;
}
.helpful-content p {
  margin: 0;
  padding: 0 0 10px 0;
}
body.close .helpful-content {
  margin-left: 0 !important;
}
.content {
  position: absolute !important;
  padding-top: 0px !important;
}
.sidebar-toggle {
  top: 134px !important;
}
.sidebar-toggle.scrolled {
  top: 20px !important;
}
.page_toc .lv3 {
  display: none;
}
@media only screen and (max-width: 768px) {
  #search-overlay {
    width: 100vw !important;
  }
  .helpful-content {
    margin-left: 0 !important;
    min-width: 350px;
    padding: 10px 20px;
  }
  body.sticky.close .helpful-content {
    margin-left: 300px !important;
  }
}
.spot-btn {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 45px;
  color: #fff;
  font-family: 'Axiforma', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 30px;
  transition: .3s;
}
.spot-btn:hover {
  background-color: #fff;
  color: #0086ff;
  cursor: pointer;
  transition: .3s;
}
.spot-btn.pink {
  background-color: #ff00ce;
  border: 2px solid #ff00ce;
}
.spot-btn.pink:hover {
  background-color: #ca18a3;
  border: 2px solid #ca18a3;
  color: #fff;
}
@media only screen and (max-width: 1024px) {
  .helpful-content h2 {
    font-size: 20px;
    padding: 5px 0;
    margin: 0;
  }
  .helpful-content .col-right {
    padding: 10px 0;
  }
  .sidebar-toggle {
    top: 160px !important;
  }
}
@media only screen and (min-width: 1024px) {
  .helpful-content .col-left {
    width: 70%;
  }
  .helpful-content .col-right {
    width: 30%;
  }
  .helpful-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .helpful-content .spot-btn {
    float: right;
    position: relative;
  }
}
@media only screen and (min-width: 1300px) {
  .helpful-content .spot-btn {
    left: -45px;
  }
}
@media only screen and (min-width: 1500px) {
  .helpful-content .spot-btn {
    left: -80px;
  }
}
@media only screen and (min-width: 1650px) {
  .helpful-content .spot-btn {
    left: -90px;
  }
}
@media only screen and (min-width: 1750px) {
  .helpful-content .spot-btn {
    left: -100px;
  }
}
@media only screen and (min-width: 1800px) {
  .helpful-content .spot-btn {
    left: -110px;
  }
}
.highlight {
  background-color: rgba(255, 0, 206, .2);
  border-radius: 3px;
}
.matching-post {
  width: 100%;
}
.matching-post p {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-transform: capitalize;
}
.matching-post p small {
  color: #999;
}
.search-results-displayed h1 {
  padding-left: 50px;
}
@media only screen and (min-width: 768px) {
  .search-results-displayed {
    display: block !important;
  }
  .results-panel.show {
    display: none !important;
  }
  #search-results {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
  }
  #search-results h1 {
    margin-bottom: 30px;
  }
  #search-results h2 {
    font-size: 16px;
    margin: 40px 0 0 0;
    padding: 0;
  }
  #search-results p {
    margin: 10px 0 0 0;
    padding: 0;
  }
  #search-overlay {
    transition: opacity 0.3s ease;
    position: fixed;
    top: 0px;
    left: 300px;
    width: calc(100vw - 317px);
    height: 100vh;
    display: none;
    z-index: 1000;
  }
  #close-search-results {
    margin-top: 0;
  }
  .search-keyword {
    color: #0086ff;
    font-style: normal;
    font-weight: bold;
  }
}
